* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --red: #e82e00;
    --orange: #e8a000;
    --yellow: #ffc800;
    --chocolate: #8e5d09;
    --blue: #719585;
    --magenta: #FF00FF;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('https://img.freepik.com/free-vector/detailed-jungle-background_52683-62631.jpg?w=2000');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: var(--yellow);
    font-size: 125%;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 45px auto;
    background-image: url(./images/woodboard.png);
    width: 125px;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Hero*/

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 45px;
    font-weight: 400;
}

.hero-content {
    max-width: 1100px;
}

/* Button Area */
.button-area {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Game Area */
.game-area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 45px auto;
    background-image: url(./images/woodboard.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 800px;
}

.game-content {
    display: flex;
    align-items: center;
    gap: 35px;
}

.game-image {
    width: 250px;
    height: 250px;
}

.game-image:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Score Area */
.score-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    font-size: 125%;
}

.score-board {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

/* Win Message Area */
.message-area {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.luck-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 110%;
}

/* Button */
button {
    background-color: var(--red);
    font-size: 125%;
    font-weight: bolder;
    color: #fff;
    border: 7.5px solid grey;
    padding: 20px 25px;
    border-radius: 10px;
}

button:hover {
    transform: scale(0.95);
    cursor: pointer;
}